body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 100%)
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav .icon {
    display: none;
}

.posun {
    float: right;
}

.malfy {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
}