* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

/*------------ BODY ------------*/
body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    color: #FCFCFC;
    font-family: 'Poppins', sans-serif;
}

p, i {
    color: #FCFCFC;
    font-family: 'Heebo', sans-serif;
}

span {
    color: #66FCF1;
    font-family: 'Poppins', sans-serif;
}

/*------------ NAVBAR ------------*/

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 100%);
}

.topnav a {
    float: left;
    display: block;
    color: #FCFCFC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    color: #66FCF1;
}

.nav-complet {
    display: flex;
    flex-direction: row;
}

.log-div {
    margin: 2px;
    padding-left: 230px;
}

#logo {
    max-width: 50px;
    height: auto;
}


/*------------ DROPDOWN MENU ---------------*/


/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #FCFCFC;
    text-align: center;
    padding: 15px 15px 15px 30px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #66FCF1;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #FCFCFC;
    background-color: inherit;
    margin: 0;
    padding: 15px 15px 15px 30px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCFCFC;
    /*min-height: 150px;*/
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 16px 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    color: #66FCF1;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    color: #66FCF1;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #0B0C0F;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


/*------------ SLIDER PHOTO------------*/

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 2560px;
    position: relative;
    margin: auto;
}

/* Caption text */

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #FCFCFC;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot-div {
    text-align: center;
}

.sliderimg {
    width: 100%;
    height: auto;
    vertical-align: middle;
    filter: opacity(50%);
}

/*-------------IDEA OF THE COMAPNY---------------*/
.concept {
    padding: 50px;
}
.concept-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: center;
}

.concept-container > div {
    background-color: #121212;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    max-height: 500px;
    max-width: 370px;
    padding: 15px;
}

#icon-con1, #icon-con2, #icon-con3 {
    font-size: 50px;
    text-align: left;
    color: #66FCF1;
    display: block;
    margin: 40px 40px;

}

.con-h {
    font-weight: 600;
    font-size: 28px;
    overflow-wrap: normal;
    margin: 16px 40px;
    max-width: 250px;
    word-break: normal;
    line-height: 50px;
    text-align: left;
    color: #FCFCFC;
}

.kon-con2 {
    border: 2px solid #66FCF1;
}

.kon-con1:hover {
    border: 2px solid #66FCF1;
    transition:  .3s;
}

.kon-con3:hover {
    border: 2px solid #66FCF1;
    transition:  .3s;
}

.line-con {
    border: 2px solid #66FCF1;
    width: 80px;
    display: block;
    text-align: left;
    margin: 16px 40px;
}

.spacer {
    display: block;
    height: 32px;
}

.con-p {
    font-size: 15px;
    margin: 16px 40px;
    padding: 10px 0 20px 0;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    color: #D0D0D0;
}

/*-------------SERVICES--------------*/

.headline-con {
    display: flex;
    flex-direction: row;
    padding-left: 125px;
}

.con-main {
    display: flex;
    flex-direction: column;
}
.line-con1 {
    border: 2px solid #66FCF1;
    width: 80px;
    display: block;
    text-align: left;
    margin: 35px 15px 0 0;
}

.services {
    padding: 100px 50px 100px 50px;
}

header > h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.con-look {
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 55px 0;
    padding-left: 125px;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content1 > div {
    background-color: #121212;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    max-height: 500px;
    max-width: 370px;
    padding: 15px;
    border-bottom: 4px solid #FCFCFC;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content2 > div {
    background-color: #121212;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    max-height: 500px;
    max-width: 370px;
    padding: 15px;
    border-bottom: 4px solid #FCFCFC;
}

#turquise {
    background-color: #66fcf1;
}

#turquise > i, p {
    color: #000000;
}

h3.turquise-bl {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    overflow-wrap: normal;
    margin: 16px 40px;
    max-width: 250px;
    word-break: normal;
    line-height: 50px;
    text-align: left;
}

div > h3 {
    font-weight: 700;
    font-size: 24px;
    overflow-wrap: normal;
    margin: 16px 40px;
    max-width: 250px;
    word-break: normal;
    line-height: 50px;
    text-align: left;
    color: #FCFCFC;
}

.content1 > .white:hover {
    border-bottom: 4px solid #66FCF1;
    transition: 0.3s;
}

.content2 > div:hover {
    border-bottom: 4px solid #66FCF1;
    transition: 0.3s;
}

.con-p {
    font-size: 15px;
    margin: 16px 40px;
    padding: 10px 0 20px 0;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    color: #D0D0D0;
}


.con-p-black {
    font-size: 15px;
    margin: 16px 40px;
    padding: 10px 0 20px 0;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    color: #000000;
}

#ser-icon1, #ser-icon2, #ser-icon3,
    #ser-icon4, #ser-icon5, #ser-icon6 {
    font-size: 40px;
    text-align: left;
    color: #66FCF1;
    display: block;
    margin: 22px 40px 12px 40px;

}

/*-------------PROJECT--------------*/
